#textdomain wesnoth-White_Troll

# this file will host all those macros that, for one reason or another, do not need their own file

# special ellipsis for Brandir, Eruannon, Melime, Delson and everyone else that needs them.
# place the macro into a [modifications] tag

#define ELLIPSE_LEADER
    [object]
        duration=forever
        silent=yes
        [effect]
            apply_to=ellipse
            ellipse=misc/ellipse-leader
        [/effect]
    [/object]
#enddef

#define ELLIPSE_HERO
    [object]
        duration=forever
        silent=yes
        [effect]
            apply_to=ellipse
            ellipse=misc/ellipse-hero
        [/effect]
    [/object]
#enddef

# this macro is designed especially for Brandir. Use without the [modifications] tag
#define MOD_ELLIPSE_LEADER
    [modifications]
        {ELLIPSE_LEADER}
    [/modifications]
#enddef

# for the Hunter line
#define MISSILE_FRAME_BOLAS
    [missile_frame]
        begin=-150
        end=0
        image=projectiles/bolas-n.png
        image_diagonal=projectiles/bolas-ne.png
    [/missile_frame]
#enddef

# since mainline macro FLAG_VARIANT macro is unable to use all six frames, the ragged flag needs this macro
#define RAGGED_FLAG
    # wmlscope: start ignoring
    flag=flags/ragged-flag-1.png:150,flags/ragged-flag-2.png:150,flags/ragged-flag-3.png:150,flags/ragged-flag-4.png:150,flags/ragged-flag-5.png:150,flags/ragged-flag-6.png:150
    flag_icon=flags/ragged-flag-icon.png
    # wmlscope: stop ignoring
#enddef
